<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">

</nav>

<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)="createCar()">Add New Car</button>
  </li>
  <li class="nav-item">
    <button mat-raised-button color="primary">Add Bike Model 1</button>
  </li>
  <li class="nav-item">
    <button mat-raised-button color="primary">Add Bike Model 2</button>
  </li>
  <li class="nav-item">
    <button mat-raised-button color="primary">Add Bike Model 3</button>
  </li>
  <li class="nav-item">
    <button mat-raised-button color="primary">Checkout</button>
  </li>
</ul>

<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let car of cars; let i = index">
      <mat-card-content>
        <img class="cover" [src]="car.image_url" alt="bike">
        <p>
          <label for="id">Image Url:</label>
          <input [(ngModel)]="car.image_url" type="text" class="form-control" placeholder="Image" aria-label="Image">
        </p>
        <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="car.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p>
        <p>
          <label for="price">Make</label>
          <input [(ngModel)]="car.make" type="text" class="form-control" placeholder="Make" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Model</label>
          <input [(ngModel)]="car.model" type="text" class="form-control" placeholder="Model" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="description">Description:</label>
          <input [(ngModel)]="car.description" type="text" class="form-control" placeholder="Description"
            aria-label="desc" aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="price">Price</label>
          <input [(ngModel)]="car.price" type="text" class="form-control" placeholder="Price" aria-label="price"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="quantity">Quantity</label>
          <input [(ngModel)]="car.quantity" type="text" class="form-control" placeholder="Quantity" aria-label="qty"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateCar(car)">Save</button>
          <button mat-raised-button color="warn" (click)="removeCar(car, i)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
