<div class="main-app-grid">
  <div class="main-header">
    <img src="../assets/WeCareDigital.png">
  </div>
  <div class="main-nav gradient1">
    <table class="table">
      <thead>
        <tr>
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-item" href="#">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Child Care</a>
            <li class="nav-item">
              <a class="nav-link active" href="#">Login</a>
            </li>
          </ul>
        </tr>
      </thead>
    </table>
    <div class="main-content">
      <table class="table2">
        <thead>
          <tr>
            <td>
              <h1>What is WeCare.com?</h1>
              <hr>
              <p>WeCare Child Care provides early childhood care for any Children who are less than 5 years old and
                still not attended preschool.
                Our service with early care and education staff to improve the ability of preschool to
                apply effective education. The services reduce expulsion and help provide children in need with guidance
                and
                support at time when it can be most important for their growth.
                Upon referral through a licensed child care provider and with parental permission, our
                Child Care can offer services that include an initial observation
                and assessment of a child in the child care setting, on-site consultation with staff,
                brief counseling for the family, support for supervisors and program directors,
                in-service training for staff members as requested, and referrals to community resources.</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=R_-CwWdOfnc&t=15s"
                  allowfullscreen></iframe>
              </div>
            </td>
          </tr>
        </thead>
        <thead>
          <tr>
            <img class="small" src="../assets/testimonial1.png">
          </tr>
        </thead>
      </table>
    </div>
    <div class="main-footer gradient2">
      <p>Find Us On:</p>
      <a class="a1" href="https://www.facebook.com/wecare.childcare.5">Facebook</a>
      <a href="https://www.instagram.com/_wecarechildcare/?hl=en">Instagram</a>
      <a href="https://twitter.com/wecare4kidz?lang=en">Twitter</a>
    </div>
  </div>